[submodule "ntic_latl"]
	path = ntic_latl
	url = https://github.com/poggioenzo/ntic_latl
[submodule "laire"]
	path = laire
	url = https://github.com/poggioenzo/laire
[submodule "semeval2014task9"]
	path = semeval2014task9
	url = https://github.com/poggioenzo/semeval2014task9
[submodule "semeval2017task8"]
	path = semeval2017task8
	url = https://github.com/poggioenzo/semeval2017task8
[submodule "stm"]
	path = stm
	url = https://github.com/poggioenzo/stm
[submodule "IMA"]
	path = IMA
	url = https://github.com/poggioenzo/IMA
[submodule "memoir_true"]
	path = memoir_true
	url = https://github.com/poggioenzo/memoir_true
